/* add font shabnam */
@font-face {
    font-family: 'shabnam';
    src: url('../fonts/shabnam.eot') format('eot');
    src: url('../fonts/shabnam.ttf') format('truetype'),
        url('../fonts/shabnam.woff') format('woff');
}

/* add font yekan */
@font-face {
    font-family: 'Yekan';
    src: url('../fonts/Yekan.eot') format('eot');
    src: url('../fonts/Yekan.ttf') format('truetype'),
        url('../fonts/Yekan.woff') format('woff');
}

/* style all */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    box-shadow: none !important;
}

/* font the body */
body {
    font-family: "Yekan";
}



/* header style */
header {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}



/* style navbar */
.nav-style a {
    color: rgb(219, 238, 255) !important;
    font-size: 19px !important;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.active {
    background-color: #717171;
    font-weight: bold;
    border-radius: 15px;
}

/* style navbar hover */
.nav-style ul li a:hover {
    color: #FF8F00 !important;
}

/* sections */
.section {
    padding: 100px 0;
}

/* bg header */
.home {
    background: url('');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.home .overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    opacity: .7;
}

.home .home-content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

/* wellcom message */
.home .home-content h1 {
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 8px;
}

.home .home-content p {
    font-size: 30px;
    margin-top: 20px;
}

/* icon bottom header */
.home .scroll-down {
    position: absolute;
    bottom: 30px;
    right: 50%;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    animation: scrollDown 2s ease infinite;
    -webkit-animation: scrollDown 2s ease infinite;
}

@keyframes scrollDown {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -o-transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
    }
}



/* about */
/* line bottom title */
.orange-line {
    margin-bottom: 30px;
    position: relative;
    padding-bottom: 10px;
    font-weight: bold;
}

.orange-line:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 2px;
    background: #FF8F00;

}



/* serveice */
.service .service-item {
    width: 100%;
    margin-top: 20px;
    position: relative;
    height: 300px;
    overflow: hidden;
}

.service .service-item:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.service .service-item img {
    width: 100%;
    height: 300px;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
}

.service .service-item span {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}

.service .service-item span p {
    font-size: 25px;
    color: #fff;
    opacity: 1;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}

.service .service-item:hover span {
    opacity: 0;
}

.service .service-item:hover span p {
    transform: translateX(200px);
    -webkit-transform: translateX(200px);
    -moz-transform: translateX(200px);
    -ms-transform: translateX(200px);
    -o-transform: translateX(200px);
    opacity: 0;
}



/* work */
.work .work-item {
    position: relative;
    margin-top: 20px;
    height: 300px;
    overflow: hidden;
    background: black;
    border-radius: 15px;
}

.work .work-item img {
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: all .4s ease-in-out;

}

.work .work-item:hover img {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    opacity: .5;
}

.work .work-item span {
    position: absolute;
    top: 100%;
    right: 40%;
    width: 100%;
    height: auto;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;

}

.work .work-item:hover span {
    background: rgba(0, 0, 0, 0.8);
}

.work .work-item span p {
    position: absolute;
    bottom: 10px;
    right: 150px;
    color: #fff;
    font-size: 20px;
    opacity: 0;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}

.work .work-item:hover p {
    opacity: 1;
    transform: translateX(80px);
    -webkit-transform: translateX(80px);
    -moz-transform: translateX(80px);
    -ms-transform: translateX(80px);
    -o-transform: translateX(80px);
}




/* Portfolio */
/* img */
#Portfolio img:hover {
    opacity: .7;
}

/* icon */
#Portfolio li:hover {
    color: #FF8F00;
    font-weight: bold;
}




/* contact */
/* input style */
.contact form input,
.contact form textarea {
    border: none;
    outline: none;
    border-radius: 0;
    border-bottom: 1px solid gray;
}

/* contact header image */
.contact .contact-img {
    width: 100%;
    background: url('../img/info.jpg');
    padding: 200px 0;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* info ... email phone address */
.contact .info {
    text-align: center;
}

/* title */
.contact .info h6 {
    color: rgb(95, 95, 95);
}

/* content */
.contact .info p {
    color: #999;
}

/* btn-submit */
.btn-submit {
    margin-top: 15px;
    background-color: #FF8F00 !important;
    color: #fff !important;
    border: 1px solid #FF8F00 !important;
}

.btn-submit:hover {
    background-color: #fff !important;
    color: #FF8F00 !important;
    border: 1px solid #FF8F00 !important;
}



/* team member */
.team .work-item {
    position: relative;
    margin-top: 20px;
    height: 200px;
    overflow: hidden;
    background: black;
}

.team .work-item img {
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transition: all .4s ease-in-out;

}

.team .work-item:hover img {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    opacity: .5;
}

.team .work-item span {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all .4s ease-in-out;
}

.team .work-item span:hover {
    opacity: 1;
}

.team .work-item span a {
    color: #fff;
    font-size: 25px;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}

.team .work-item span a i:hover {
    color: #FF8F00;
}



/* footer */
footer {
    border-top: 3px dotted rgb(49, 49, 49);
    padding: 50px 0;
    text-align: center;
}



/* navbar header */
.mno .active{
    color: #FF8F00 !important;
}
.barnd{
    position: absolute;
    left: 0%;
}
@media screen and (max-width : 991px) {
    .mno{
        background: rgb(41, 41, 41) !important;
        border-radius: 20px;
    }
}